<!doctype html>
<html lang="pt"
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    >

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  </head>

  <body>
    <footer class="aw-layout-footer  js-content" th:fragment="layout-footer">
        <div class="container-fluid">
            <span class="aw-footer-disclaimer">&copy; 2016 AlgaWorks. Todos os direitos reservados.</span>
        </div>
    </footer>

  </body>

    